#left {
    min-width: 360px;
    flex-basis: 40%;
    flex-grow: 1;
    text-align: justify;
    background-color: var(--sec-bg-color);
    color: black;
    margin: 0 0.5%;

    display: flex;
    flex-direction: column;
}

#bottom-section {
    flex-grow: 1;
    background-color: var(--main-bg-color);
    margin: 0 0.5%;

    display: flex;
    padding: 1%;
}

#left .nav-buttons {
    background-color: var(--main-bg-color);
}