:root {
    --font-color: #2d1e2f;
    --main-title-color: #f7b32b;
    --sec-title-color: #cf150a;
    --main-bg-color: #a9e5bb;
    --sec-bg-color: #e6e0a1;
    --head-and-foot-bg-color: #f2958f;
    --link-color: #3958b1;
    --hover-link-color: #657dc2;
    --clicked-link-color: #73237a;
}

* {
    color: var(--font-color);
    font-size: 1.02em;
}

a {
    color: var(--link-color);
    margin-top: 1%;
    font-weight: bold;
}

a:hover {
    color: var(--hover-link-color);
}

a:visited {
    colo: var(--clicked-link-color);
}

/* CSS files add styling rules to your content */
html, body, div, section, aside {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: helvetica, arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
}

h1, h3, h5 {
    color: var(--main-title-color);
}

h1 {
    font-size: 2em;
    margin: 1%;
}

h2, h4 {
    font-size: 1.5em;
    color: var(--sec-title-color);
}

#page_nb {
    display: none;
}
#main-section {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

#center-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    flex-grow: 2;
    margin-bottom: 1%;
}

#left {
    min-width: 360px;
    min-height: 530px;
    flex-basis: 40%;
    flex-grow: 1;
    text-align: justify;
    background-color: var(--main-bg-color);
    color: black;
    margin: 0 0.5%;

    display: flex;
    flex-direction: column;
}

header img {
    display: inline-block;
    margin: 1% 1% 1% 18%;
    vertical-align: middle;
}

header h1 {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    text-align: left;
}

#terminal {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 50%;
    min-width: 360px;
    min-height: 410px;
    margin-left: 1%;
}

#left div {
    flex-grow: 1;
    padding: 2%;
}

#bottom-buttons{
    max-height: 10%;
}

#bottom-section {
    flex-grow: 1;
    background-color: var(--sec-bg-color);
    margin: 0 0.5%;

    display: flex;
    padding: 1%;
    flex-wrap: wrap;
}

#bottom-section div {
    width: 48%;
    margin: 0 1%;
    text-align: justify;
}

header, footer {
    flex-grow: 1;
    height: 100%;
    text-align: center;
}
footer {
    font-size: 0.9em;
}
form {
    display: flex;
    flex-direction: column;
}
textarea {
    height: 90%;
    background-color: rgb(59, 53, 53);
    color: #4dc423;
    font-family: 'Roboto';
    font-size: 1.1em;
    font-weight: 600;
    resize: none;
    outline: none;
    flex-grow: 4;
    padding: 1%;
    box-shadow: 0px 0px 10px rgb(97, 95, 95);
    overflow-y: scroll;
}

#texte-presentation {
    flex-grow: 5;
    margin: 5%;
    background-color: var(--main-bg-color);
    font-size: 1.4em;
    font-weight: bold;
    padding: 2%;
    padding-top: 10%;
    text-align: center;
}

#send-button {
    height: 10%;
    background-color: green;
    color: white;
    font-weight: bold;
}

.nav-buttons {
    width: 25%;
    height: 5vh;
    border: none;
    box-shadow: 0 0 10px rgb(97, 95, 95);
    margin-left: 15%;
    padding: 1%;
    font-weight: bold;
}

#left .nav-buttons {
    background-color: var(--sec-bg-color);
}

@media screen and (max-width: 946px) {

    #left {
        flex-basis: 100%;
        min-height: 0;
    }

    header img {
        margin: 0;
    }

    header h1 {
        display: block;
        text-align: center;
        width: 98%;
    }

    #bottom-section div {
        width: 100%;
    }

    #bottom-buttons {
        max-height: 50%;
    }

    #terminal {
        width: 98%;
        margin: 0 0.5%;
    }

    textarea {
        min-height: 230px;
    }
}